<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/styles/styles.css">
     <title> </title>
  </head>
  <body>

    <header></header>
      <section class="main">
      <h1> Bitmaker CRM </h1>
      <nav class="links">
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/contacts/new'>Add a Contact</a></li>
          <li><a href='/'>About</a></li>
        </ul>
      </nav>
    </section>
    <%= yield %>

  </body>
  <footer>@bitmaker 2016</footer>
</html>
